@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
